.gradle
/build
/captures
.DS_Store
.cxx
.externalNativeBuild
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.kotlin
/proguard
/tmp
local.properties
*.iml
.swp
.mtf
/debug.keystore
/release.keystore
/build-cache
/generated
*.apk
*.ap_
*.dex
/ndk-build
/obj
/out
.android/build-cache
.android/data/cache
.android/prefs
/app/build/outputs
/app/build/tmp
/app/intermediates
/app/.externalNativeBuild
/app/.cxx